---
extends: default

rules:
  line-length:
    max: 160
    level: warning
  truthy:
    level: warning
  document-start: disable
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    level: error
  comments:
    min-spaces-from-content: 1
  comments-indentation: disable
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
